body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primaryColor : #90a959;
  --secondColor : #e9b872;
  --mainWhite : #fff;
  --mainBlack : #222;
  --mainRed : #c45151;
  --mainGreen : #4caf50;
}

*{
   margin:0;
   box-sizing: border-box;
}

body{
  background-color: var(--secondColor);
  color: var(--mainBlack);
}
h1{
  margin: 1rem 0;
}